//Colors
$background: #eaeaea;
$white: #fff;
$gray: #b2b2b2;
$orange: #f98835;
$red: #FC4027;
$bg-ltr: linear-gradient(to right, $orange, $red);
$bg-rtl: linear-gradient(to right, $red, $orange);

$font-family-1: 'Montserrat-Bold';
$font-family-2: sans-serif;