// Variables
@import 'variables';

@media only screen and (max-device-width: 480px) {
  .main-section {
    width: 100%;
    margin-left: 0;
    .main {
      width: 100%;
    }
    .right-section {
      display: none;
    }
  }
  .left-section {
    display: none;
  }
}

@media only screen and (min-width: 960px) {
  .main-section {
    width: 84%;
    margin-left: 16%;

    .main {
      width: 75%;
    }
    .right-section {
      width: 25%;
    }
  }
}

body {
  margin: 0;
  font-family: $font-family-1, $font-family-2;
  font-size: 2.4vh;
  cursor: default;
}

.flex-box {
  display: flex;
  justify-content: space-between;
}

.link-clear {
  color: unset;
  text-decoration: unset;
}

.nav-bar {
  height: 60px;
  background: $bg-rtl;
  border-bottom: 3px solid $orange;
  padding: 0 10%;
  //position: fixed;
  width: 80%;
  .g {
    width: 50%;
  }
  .g1 {
    justify-content: flex-start;
    .logo-title {
      font-size: 5vh;
      color: $white;
      padding: 10px 4% 0 0;
    }
    .search {
      width: 100%;
      padding: 0.8% 0 0 0;
      input {
        margin: 12px 0 0 0;
        width: 60%;
        border: 1px solid $white;
        padding: 6px 1.5% 4px 1.5%;
        border-radius: 2px;
      }
      input::placeholder {
        font-size: 2.4vh;
      }
    }
  }
  .g2 {
    justify-content: flex-end;
    .notifications {
      margin-right: 5%;
      padding: 18px 0 0 0;
      img {
        width: 24px;
      }
    }
    .nav-avatar {
      margin-right: 4%;
      padding: 5px 0 0 0;
      img {
        width: 48px;
        border-radius: 50%;
        border: 2px solid $white;
      }
    }
    .nav-menu {
      padding: 7px 0 0 0;
      cursor: pointer;
      img {
        width: 34px;
      }
    }
  }
}

.container {
  width: 100%;
  background-color: $background;
  $leftWidth: 16%;

  .left-section {
    width: $leftWidth;
    //height: -webkit-fill-available;
    position: fixed;
    //margin-top: 63px;
    background-color: #f4f4f4;
  }

  .main-section {
    overflow-x: auto;
    //padding: 101px 0 0 0;
    //height: -webkit-fill-available;

  }
}
.hash-tag{
  color: $orange;
}